#customicon {
    color:#8261ee;
    opacity: 0.7;
}


 .pricep {
     opacity: 0.9;
     margin-left: 2rem;
     margin-right: 2rem;
     font-size: 12px;
 }

.widthp {
    width: 80%;
 }

 @media screen and (max-width: 700px) {
    .widthp {
        width: 100%;
     }

     #divphonemore {
         text-align: center;
     }
  }