#customicon {
    color:#8261ee;
    opacity: 0.7;
}

.number {
    position: absolute;
    color: white;
    left: 43vw;
    transform: translateY(-1rem);
    display: none;
}

.hide:hover + .number {
    position: absolute;
    display: block;
 }