<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="static/images/icon2.ico" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>EL - Brahim Mrissa</title>
    <!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">

    <link rel="stylesheet" href="static/css/templatemo-softy-pinko.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>


    <style>
        select {
            /*Clear the default select box style*/
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            /*Display a small arrow picture in the rightmost middle of the selection box*/
            background: url(https://www.freeiconspng.com/uploads/arrow-down-icon-png-3.png) no-repeat scroll right center transparent;
            background-size: 4%;
            background-position-x: 93%;
            background-color: #f8f8f8;
            font-size: 2vh;
            margin-bottom: 25px;
        }

        select:required:invalid {
            color: gray;
            font-size: 14px;
        }

        option[value=""][disabled] {
            display: none;
            font-size: 14px;
        }

        option {
            color: black;
            font-size: 14px;
        }
    </style>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav" style="padding-right: 1rem;">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="static/images/logo.svg"
                                style="height: 50px; width: 110px; transform: translate(1rem, -0.6rem);"
                                alt="Softy Pinko" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="#features">About</a></li>
                            <li><a href="#work-process">Work Process</a></li>
                            <li><a href="#testimonials">Testimonials</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="#blog">Blog Entries</a></li>
                            <li><a href="#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>English for everyone <img height="50px" src="static/images/flag.gif" alt=""> </h1>
                        <p>We are a virtual school that offers online English lessons according to your preference in
                            groups or individually and at very encouraging prices </p>
                        <a href="#contact-us" class="main-button-slider">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Quality training</h5>
                                <p>Proficient and top-notch teachers with years of experience</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Healthy environment</h5>
                                <p>Friendly atmosphere and amazing classmates.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Constant support</h5>
                                <p>Contact us immediately if you have any questions</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Let’s talk about your study plan</h2>
                    </div>
                    <div class="left-text">
                        <p>You are welcome to attend the first session for free and participate ! we will make use of
                            all of
                            the information we have about you through the level test and conversations with the aim
                            of designing the best study plan for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">We can help you grow and improve</h2>
                    </div>
                    <div class="left-text">
                        <p>Our mission is to make each class worthwhile for you ! Be it individual sessions or group
                            classes,
                            we tailor the coursework's structure in order to tackle your weaknesses and bring forth
                            your true potential. </p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="static/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Work Process</h1>
                            <p>These are the steps you'll need to complete in order to join your class. <br> Feel free
                                to contact us for more information.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-user-plus fa-2x"></i></i>
                            <strong>Register</strong>
                            <span>Sign up by filling and submitting the form below.</span>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-pen-alt fa-2x"></i></i>
                            <strong>Level test</strong>
                            <span>1 hour test to assess your level and assign the right class.</span>
                        </a>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-calendar-check fa-2x"></i></i>
                            <strong>Choose timing</strong>
                            <span>We provide classes throughout the whole day.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-handshake fa-2x"></i></i>
                            <strong>Pay fees</strong>
                            <span>We take payments via bank transfer at the moment.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-file-alt fa-2x"></i></i>
                            <strong>Receive assets</strong>
                            <span>You'll be provided with custom materials.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><i id="customicon" class="fas fa-chalkboard-teacher fa-2x"></i></i>
                            <strong>Join class</strong>
                            <span>Welcome aboard ! We wish you all the success.</span>
                        </a>
                    </div>

                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">What do they say?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Get to know some of our past students and what they think about our online school.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/images/testimonial-icon.png" alt=""></i>
                            <p>I signed up for the TOEFL class in English lab and I'm really glad that I did. Not only
                                did they help me get my desired score, but they were kind enough to give me extra free
                                sessions when my exam approached.</p>
                            <div class="user-image">
                                <img src="static/images/ibraheem.PNG" height="60px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Ibraheem El Ansari</h3>
                                <span>Data scientist</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/images/testimonial-icon.png" alt=""></i>
                            <p>I studied in a group class for a few weeks following the study plan that I was provided
                                with.
                                The teacher shed the light on my weak points and gave
                                me assignments that made me feel like a confident speaker in the end. </p>
                            <div class="user-image">
                                <img src="static/images/salwa.jfif" height="79px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Salwa Ech-charfi</h3>
                                <span>Business strategist</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/images/testimonial-icon.png" alt=""></i>
                            <p>I contacted English Lab to prepare for the TOEIC exam. They were very involved and
                                provided
                                me with all the assets I need little by little, until I was finally able to score high
                                in class and in the actual test. </p>
                            <div class="user-image">
                                <img src="static/images/ahmed.jpeg" height="60px" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Ahmed Chakir</h3>
                                <span>Financial analyst</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Pricing Plans</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Our prices vary depending on your needs as shown below. If you need a custom plan with
                            different components, don't hesitate to contact us.
                        </p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12"
                    data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Basic</h3>
                            <p class="pricep">Perfect plan for students</p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">250</span>
                                <span class="currency">MAD</span>
                                <span class="period">monthly</span>
                            </div>
                            <ul class="list">
                                <li class="active">Group study plan</li>
                                <li class="active">10 students per group</li>
                                <li class="active">3 classes per week</li>
                                <li class="active">Homeworks and assignments</li>
                                <li class="active">Performance feedback</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#contact-us" class="main-button">Register</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12"
                    data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Professional</h3>
                            <p class="pricep">Business English, Medical English and more</p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">250</span>
                                <span class="currency">MAD</span>
                                <span class="period">per session</span>
                            </div>
                            <ul class="list">
                                <li class="active">Flexible study plan</li>
                                <li class="active">Individual classes</li>
                                <li class="active">10 classes per program</li>
                                <li class="active">Homeworks and assignments</li>
                                <li class="active">Performance feedback</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#contact-us" class="main-button">Register</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12"
                    data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Academic</h3>
                            <p class="pricep">TOEFL, IELTS, TOEIC and GRE verbal</p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">300</span>
                                <span class="currency">MAD</span>
                                <span class="period">per session</span>
                            </div>
                            <ul class="list">
                                <li class="active">Flexible study plan</li>
                                <li class="active">Individual classes</li>
                                <li class="active">10 classes per exam</li>
                                <li class="active">Homeworks and assignments</li>
                                <li class="active">Performance feedback</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#contact-us" class="main-button">Register</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>1000</strong>
                            <span>Happy students</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>200</strong>
                            <span>Online classes</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>30</strong>
                            <span>activities</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>12</strong>
                            <span>Years</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Blog Entries</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat
                            nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/images/blog-item-01.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Vivamus ac vehicula dui</a>
                            </h3>
                            <div class="text">
                                Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc.
                                Nulla in sagittis eros. Aliquam egestas augue.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/images/blog-item-02.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Phasellus convallis augue</a>
                            </h3>
                            <div class="text">
                                Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna
                                ut velit venenatis, vel ultrices sapien mattis.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="static/images/blog-item-03.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Nam gravida purus non</a>
                            </h3>
                            <div class="text">
                                Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus
                                euismod odio, ut tempus enim varius eu.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Register</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Please fill and submit the form below in order to register for our classes. You can mention
                            anything specific about your application in the message box.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div id="divphonemore" class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">More information</h5>
                    <div class="contact-text">
                        <p class="widthp">Not surre you want to sign up yet ? <br> Give us a call and we'll address
                            any concerns you have.
                        </p>
                        <p><a href="tel:0680838093"><img height="30px" src="static/images/telephone.svg" alt=""> </a><span style="margin-left: 5px;">0680838093</span></p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="#messages" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name"
                                            placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email"
                                            placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="phone" type="tel" class="form-control" id="phone"
                                            placeholder="Phone number" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <select name="age" class="form-control"
                                            style="border-radius: 25px; padding-left: 20px; padding-right: 20px; height: 50px; border: 1px solid #eee;"
                                            name="age" id="age" required>
                                            <option value="" disabled selected hidden>Age category</option>
                                            <option value="8-13 years">8-13 years</option>
                                            <option value="14-18 years">14-18 years</option>
                                            <option value="19-50 years">19-50 years</option>
                                            <option value="+50 years">+50 years</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">
                                    <fieldset>
                                        <select name="level" class="form-control"
                                            style="border-radius: 25px; padding-left: 20px; padding-right: 20px; height: 50px; border: 1px solid #eee;"
                                            name="age" id="age" required>
                                            <option value="" disabled selected hidden>English level</option>
                                            <option value="Beginner">Beginner</option>
                                            <option value="Intermediate">Intermediate</option>
                                            <option value="Advanced">Advanced</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <select name="timing" class="form-control"
                                            style="border-radius: 25px; padding-left: 20px; padding-right: 20px; height: 50px; border: 1px solid #eee;"
                                            name="age" id="age" required>
                                            <option value="" disabled selected hidden>Convenient timing</option>
                                            <option value="Morning">Morning</option>
                                            <option value="Afternoon">Afternoon</option>
                                            <option value="Evening">Evening</option>
                                        </select>
                                    </fieldset>
                                </div>



                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message"
                                            placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Register</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>

                        {% if messages %}
                        <div id="#messages" class="messages" style="margin-top: 3rem;">
                            {% for message in messages %}
                            <p {% if message.tags %} class=" {{ message.tags }} " {% endif %}> <i
                                    style="color: #8261ee; position: relative; top: 5px; margin-left: 6vw ; margin-right: 1vh;"
                                    class="fas fa-check-circle fa-2x"></i>
                                {{ message }} </p>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a target="blank_" href="https://web.facebook.com/brahim.mrissa"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="blank_" href="https://ma.linkedin.com/in/brahim-mrissa-06a39a143"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                        <li class="hide"><a class="hide" href="tel:0680838093"><i class="fas fa-phone-alt"></i></a></li>
                        <li><a href="mailto:profmrissa@gmail.com"><i class="fab fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        Brahim Mrissa
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

</body>

</html>